.header {
    background-color: var(--exodus-navy-blue);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container button:hover {
    background-color: transparent;
}

.logo img {
    height: 32px;
}

.nav ul {
    list-style: none;
    display: flex;
    
    gap: 24px;
    margin: 0;
    padding: 0;
}

.nav ul li {
    position: relative;
}

.nav ul li a {
    color: var(--exodus-white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
}

.nav ul li a:hover {
    color: var(--exodus-purple);
}

.burger {
    display: none; /* Hide by default */    
}

/* Show only on mobile screens */
@media (max-width: 768px) {
    .burger {
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        color: var(--exodus-text-color);
        cursor: pointer;
        z-index: 10;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;   
    }

    /* Rotate the burger menu to 'X' */
    .burgerOpen {
        transform: rotate(90deg);
    }
    .nav {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(40px, auto));
        justify-items: center;
        gap: 16px;
        position: absolute;
        padding-top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--exodus-navy-blue);
        padding: 16px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(-10px);
    }

    /* When menuOpen is true, show navigation */
    .navOpen {
        display: grid; /* Updated to grid for vertical layout */
        grid-template-rows: repeat(auto-fit, minmax(40px, auto));
        justify-items: center;
        gap: 16px;
        opacity: 1;
        transform: translateY(0);
    }
}

.burger ul {
    list-style: none;
    display: grid; /* Updated to grid for vertical layout */
    gap: 24px;
    margin: 0;
    padding: 0;
}